p {
  color: #EF334E;

  span {
    display: inline-block;
    background: #EF334E;
    border-radius: 4px;
    width: 26px;
    height: 28px;
    color: #ffffff;
    line-height: 28px;
    text-align: center;
  }
}
