<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>样式收藏</title>
    <style>
        div {
            width: 100%;
            height: 100%;
            max-height: 300px;
            max-width: 500px;
            border: solid 1px red;
            overflow: hidden;
        }

        div img {
            height: inherit;
            width: inherit;
        }
    </style>
</head>

<body>
    <div>
        <img src="https://gss0.bdstatic.com/7051cy89RcgCncy6lo7D0j9wexYrbOWh7c50/BD/zhuanti/geshuidikou/xin/270-170.jpg?t=1545899632"
            alt="">
    </div>
    <table style="border:1">
        <tr>
            <th>星期一</th>
            <th>星期二</th>
        </tr>
        <tr>
            <td>January</td>
            <td>$100</td>
        </tr>
    </table>
</body>

</html>