$c_red: #EF334E;
$c_f84: #F84D65;
$c_fc3: #FC3A2A;
$c_333: #333333;
$c_fff: #ffffff;
$c_e4e: #e4e4e4;
$c_999: #999999;
$c_000: #000000;
$c_ddd: #dddddd;
$c_666: #666666;
$c_fbf: #FBFCFD;
$c_ccc: #cccccc;
$c_eee: #eeeeee;
$c_f5f: #f6f6f6;
$c_f8f: #F8F8F8;
$c_393: #393939;
$c_6e6: #6e6e6e;
$c_8e8: #8e8e8e;


$c_F5F5: #F5F5F9;
$c_2A2A: #2A2A2A;

