// 20px文字
.fz_20_99 {
    font-size: 20px;
    color: $c_999;
}

// 18px文字
.fz_18_ff {
    font-size: 18px;
    color: $c_fff;
}

.fz_18_red {
    font-size: 18px;
    color: $c_red;
}

.fz_18_333 {
    font-size: 18px;
    color: $c_333;
}

// 16px文字
.fz_16_33 {
    font-size: 16px;
    color: $c_333;
}

// 14px文字
.fz_14_66 {
    font-size: 14px;
    color: $c_666;
}

.fz_14_ff {
    font-size: 14px;
    color: $c_fff;
}

.fz_14_33 {
    font-size: 14px;
    color: $c_333;
}

.fz_14_red {
    font-size: 14px;
    color: $c_red;
}

.fz_14_2A {
    font-size: 14px;
    color: $c_2A2A;
}

// 13px文字
.fz_13_ff {
    font-size: 13px;
    color: $c_fff;
}

.fz_13_33 {
    font-size: 13px;
    color: $c_333;
}

.fz_13_red {
    font-size: 13px;
    color: $c_red;
}

// 12px文字
.fz_12_33 {
    font-size: 13px;
    color: $c_333;
}

.fz_12_99 {
    font-size: 13px;
    color: $c_999;
}


/* 字体 */

/* 14px字体，#333 */
.font_size_14_33 {
  font-size: 14px;
  color: $c_333;
}

/* 14px字体，#409EFF */
.font_size_14_409EFF {
  font-size: 14px;
  color: #409EFF;
}

/* 14px字体，$c_666 */
.font_size_14_66 {
  font-size: 14px;
  color: $c_666;
}

/* 14px字体，#999 */
.font_size_14_99 {
  font-size: 14px;
  color: $c_999;
}

/* 14px字体，#151515 */
.font_size_14_15 {
  font-size: 14px;
  color: #151515;
}

/* 12px字体，$c_666 */
.font_size_12_66 {
  font-size: 12px;
  color: $c_666;
}

/* 12px字体，#333 */
.font_size_12_33 {
  font-size: 12px;
  color: $c_333;
}

/* 12px字体，#409EFF */
.font_size_12_409EFF {
  font-size: 12px;
  color: #409EFF;
}

/* 18px字体，$c_333 */
.font_size_18_33 {
  font-size: 18px;
  color: $c_333;
}

.fz_200{
    font-size: 200%;
}
.fz_300{
    font-size: 300%;
}
