//上下左右
$all_10: 10px;
$all_15: 15px;
$all_20: 20px;
$all_25: 25px;
//上
$t_5: 5px 0 0 0;
$t_10: 10px 0 0 0;
$t_15: 15px 0 0 0;
$t_20: 20px 0 0 0;
$t_25: 25px 0 0 0;
//右
$r_5: 0 5px 0 0;
$r_10: 0 10px 0 0;
$r_15: 0 15px 0 0;
$r_20: 0 20px 0 0;
$r_25: 0 25px 0 0;
//下
$b_5: 0 0 5px 0;
$b_10: 0 0 10px 0;
$b_15: 0 0 15px 0;
$b_20: 0 0 20px 0;
$b_25: 0 0 25px 0;
//左
$l_5: 0 0 0 5px;
$l_10: 0 0 0 10px;
$l_15: 0 0 0 15px;
$l_20: 0 0 0 20px;
$l_25: 0 0 0 25px;



